*
{
	box-sizing: border-box;
  	/*overflow: hidden;*/
	margin: 0;
	padding: 0;
}

header
{
    width: 100%;
}

body 
{
	color: #424242;
	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 1rem;
}

footer
{
    margin: 1.5rem;
}

.info
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 0 2.5rem;
}

.info div
{
    text-align: center;
    width: 100%;
}

.menu
{
	display: flex;
    align-items: center;
    justify-content: center;
    color: white;
	background-color: #B31145;
	margin: 0 2.5rem 1rem;
	/*padding: 1.25rem;*/
}

.menu div
{
    width: 100%;
    font-size: 1.125rem;
    font-weight: 600;
}

.menu-items
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu-items div
{
    padding: 1.25rem;
}

.menu-items div:hover
{
    background-color: #9B0F3B;
}

.main-link
{
    position: relative;
}

.main-link a:link
{
    color: #FFF;
    text-decoration: none;
}

.main-link a
{
    color: #FFF;
    text-decoration: none;
}

.menu .menu-items .main-link ul
{
    position: absolute;
    display: none;
    list-style: none;
    text-decoration: none;
    top: 3.9rem;
    left: 25%;
    width: 13.75rem;
    background-color: #FFFFFF;
    z-index: 1;
}

.menu .menu-items .main-link:hover > ul
{
    display: initial;
}

.menu .menu-items .main-link ul li
{
    width: 100%;
    border: 1px solid rgb(0, 0, 0, 0.1);
    padding: 0.5rem;
}

.menu .menu-items .main-link ul li:hover
{
    background-color: #E9E9E9;
}

.main-link ul li a:link
{
    color: #FFFFFF;
    text-decoration: none;
}

.main-link ul li a
{
    color: #B31145 !important;
    text-decoration: none;
}

.nav-link.active
{
    color: #424242 !important;
}

.items-links a:link
{
    color: #FFF;
    text-decoration: none;
}

.items-links a:visited
{
    color: #FFF;
    text-decoration: none;
}

.menu-items .close-menu
{
    display: none;
}

.menu .mobile-menu
{
    display: none;
}

.hide-menu
{
    display: none !important;
}

.carousel
{
	position: relative;
	height: 600px;
	width: 100%;
	background-image: url(../img/MainCarousel.jpeg);
	background-position: center;
}

.carousel h1
{
	position: absolute;
	transform: translate(-50%, -50%);
	color: white;
	font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.25rem;
    text-transform: uppercase;
    top: 50%;
  	left: 70%;
  	z-index: 1;
}

.logo
{
    margin-right: 1.75rem;
    padding: 0.75rem 0.75rem 0.75rem 0;
}

.logo img
{
	height: 100%;
	width: 100%;
}

.advantages
{
	margin: 1.5rem;
    padding: 1rem;
}

.advantages .items 
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

.advantages .items .item
{
    display: flex;
    align-items: center;
  	width: 100%;
	margin-right: 1.5rem;
}

.advantages .items .item .item-img
{
	margin-right: 1rem;
}

.advantages .items .item .flex-column
{
    display: flex;
    flex-direction: column;
}

.advantages .items .item .name
{
    font-size: 0.85rem;
	font-weight: 600;
    line-height: 1.25rem;
    text-transform: uppercase;
}

.advantages .items .item .desc
{
    font-size: 0.875rem;
	line-height: 1.25rem;
}

.preloader
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.spinner
{
    border: 8px solid #FFFFFF;
    border-top: 8px solid #B31145;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.toast-message
{
    background-color: #B31145;
    padding: 0.5rem;
}

@media (max-width: 518px) /* телефоны */
{
    .info
    {
        margin: 0;
        padding: 0.5rem;
    }
    .info div
    {
        margin: 0;
        padding: 0;
    }
    .info .slogan
    {
        font-size: 0.75rem;
    }
    .info .phone, .email, .calculation
    {
        display: none;
    }
    .logo img
    {
        height: 100%;
        width: 75%;
    }
    .menu
    {
        display: flex;
        height: 100%;
        width: 10rem;
        margin: 0 0.45rem 0.45rem 2rem;
        padding: 2%;
    }
    .menu-items
    {
        display: none;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.5s, transform 0.5s;
    }
    .menu-items div
    {
        padding: 0;
    }
    .menu-items .close-menu
    {
        display: block;
    }
    .menu-items.active
    {
        display: block;
        opacity: 1;
        transform: translateY(0);
        line-height: 1.5rem;
    }
    .menu-items.active .close-menu
    {
        font-weight: 600;
        text-decoration: underline;
    }
    .menu div
    {
        font-weight: 400;
    }
    .menu .mobile-menu
    {
        display: block;
        font-size: 1rem;
        transition: width 0.5s ease-in;
        margin: 0;
        padding: 0;
    }
    .menu .menu-items .main-link:hover > ul
    {
        display: none;
    }
    .carousel
    {
        background-position: -280px -150px;
        height: 23.5rem;
        width: 100%;
    }
    .carousel h1
    {
        display: none;
    }
    .advantages
    {
        height: 12rem;
    }
    .advantages .items
    {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        justify-content: space-between;
        height: 100%;
        margin: 0;
    }
    .advantages .items .item
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        scroll-snap-align: start;
        box-sizing: border-box;
        margin: 0;
    }
    .advantages .items .item .item-img
    {
        position: unset;
        margin-right: 0;
    }
    .advantages .items .item .item-img img
    {
        height: auto;
        width: auto;
    }
    .advantages .items .item .flex-column
    {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 1rem 1.5rem;
    }
    .advantages .items .item .name
    {
        line-height: 1rem;
        margin-left: 0;
    }
    .advantages .items .item .desc
    {
        line-height: 1rem;
        margin-left: 0;
    }
}

@media (min-width: 518px) and (max-width: 751px) /* планшеты */
{
    .logo img
    {
        height: 100%;
        width: 100%;
    }
    .info
    {
        margin: 0;
        padding: 0.5rem;
    }
    .info div
    {
        margin: 0;
        padding: 0.25rem;
        font-size: 0.75rem;
    }
    .phone strong, br
    {
        display: none;
    }
    .email strong, br
    {
        display: none;
    }
    .menu
    {
        margin: 0.5rem;
    }
    .menu .close-menu
    {
        display: none;
    }
    .menu div
    {
        width: 100%;
        font-size: 0.75rem;
        font-weight: 600;
    }
    .menu-items div
    {
        padding: 0.5rem;
    }
    .menu .menu-items .main-link ul
    {
        top: 2.425rem;
        width: 8.75rem;
    }
    .carousel
    {
        background-position: -280px -150px;
        height: 23.5rem;
        width: 100%;
    }
    .carousel h1
    {
        width: 16rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
        top: 15%;
        left: 65%;
    }
    .advantages
    {
        height: 12rem;
    }
    .advantages .items
    {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        justify-content: space-between;
        height: 100%;
    }
    .advantages .items .item
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        scroll-snap-align: start;
        box-sizing: border-box;
        margin: 0;
        padding: 1.5rem;
    }
    .advantages .items .item .item-img
    {
        position: unset;
        margin-right: 0;
    }
    .advantages .items .item .item-img img
    {
        height: auto;
        width: auto;
        margin-right: 0;
    }
    .advantages .items .item .flex-column
    {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 1rem 1.5rem;
    }
    .advantages .items .item .name
    {
        line-height: 1rem;
        margin-left: 0;
    }
    .advantages .items .item .desc
    {
        line-height: 1rem;
        margin-left: 0;
    }
}

@media (min-width: 751px) and (max-width: 1038px) /* планшеты или ноуты */
{
    .logo img
    {
        height: 100%;
        width: 100%;
    }
    .info
    {
        margin: 0;
        padding: 0.5rem;
    }
    .info div
    {
        margin: 0;
        padding: 0.25rem;
        font-size: 0.875rem;
    }
    .menu
    {
        margin: 0 1rem 1rem 1rem;
    }
    .menu .close-menu
    {
        display: none;
    }
    .menu div
    {
        width: 100%;
        font-size: 0.875rem;
        font-weight: 600;
    }
    .menu-items div
    {
        padding: 0.75rem;
    }
    .menu .menu-items .main-link ul
    {
        top: 3.075rem;
        width: 8.75rem;
    }
    .carousel
    {
        background-position: -280px -150px;
        height: 23.5rem;
        width: 100%;
    }
    .carousel h1
    {
        width: 16rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
        top: 15%;
        left: 45%;
    }
    .advantages
    {
        height: 12rem;
    }
    .advantages .items
    {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        justify-content: space-between;
        height: 100%;
    }
    .advantages .items .item
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        scroll-snap-align: start;
        box-sizing: border-box;
        margin: 0;
        padding: 1.5rem;
    }
    .advantages .items .item .item-img
    {
        position: unset;
        margin-right: 0;
    }
    .advantages .items .item .item-img img
    {
        height: auto;
        width: auto;
        margin-right: 0;
    }
    .advantages .items .item .flex-column
    {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 1rem 1.5rem;
    }
    .advantages .items .item .name
    {
        font-size: 1rem;
        line-height: 1.25rem;
        margin-left: 0;
    }
    .advantages .items .item .desc
    {
        font-size: 1rem;
        line-height: 1.25rem;
        margin-left: 0;
    }
}

@media (min-width: 1038px) and (max-width: 1101px)
{
    .logo img
    {
        height: 100%;
        width: 100%;
    }
    .info
    {
        margin: 0;
        padding: 0.5rem;
    }
    .info div
    {
        margin: 0;
        padding: 0.25rem;
        font-size: 0.875rem;
    }
    .menu
    {
        margin: 0 1rem 1rem 1rem;
    }
    .menu .close-menu
    {
        display: none;
    }
    .menu div
    {
        width: 100%;
        font-size: 0.875rem;
        font-weight: 600;
    }
    .menu-items div
    {
        padding: 0.75rem;
    }
    .menu .menu-items .main-link ul
    {
        top: 2.55rem;
        width: 8.75rem;
    }
    .carousel
    {
        background-position: -280px -150px;
        height: 23.5rem;
        width: 100%;
    }
    .carousel h1
    {
        width: 16rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
        top: 15%;
        left: 45%;
    }
    .advantages
    {
        height: 12rem;
    }
    .advantages .items
    {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        justify-content: space-between;
        height: 100%;
    }
    .advantages .items .item
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        scroll-snap-align: start;
        box-sizing: border-box;
        margin: 0;
        padding: 1.5rem;
    }
    .advantages .items .item .item-img
    {
        position: unset;
        margin-right: 0;
    }
    .advantages .items .item .item-img img
    {
        height: auto;
        width: auto;
        margin-right: 0;
    }
    .advantages .items .item .flex-column
    {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 1rem 1.5rem;
    }
    .advantages .items .item .name
    {
        font-size: 1rem;
        line-height: 1.25rem;
        margin-left: 0;
    }
    .advantages .items .item .desc
    {
        font-size: 1rem;
        line-height: 1.25rem;
        margin-left: 0;
    }
}

@media (min-width: 1101px) and (max-width: 1438px)
{
    .menu .menu-items .main-link ul
    {
        top: 4.6rem;
    }
}