*
{
	box-sizing: border-box;
  	/*overflow: hidden;*/
	margin: 0;
	padding: 0;
}

body 
{
	color: #424242;
	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 1rem;
}

header
{
	width: 100%;
}

.menu
{
	display: flex;
	background-color: #B31145;
	margin: 0 5% 1.5%;
	padding: 1.5%;
	color: white;
}

.menu div
{
	display: flex;
	align-items: center;
  	justify-content: center;
	width: 100%;
	font-size: 1.0625rem;
	font-weight: 600;
}

.info
{
	display: flex;
	width: 100%;
	padding: 0 3%;
}

.info div
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 1.2%;
	padding: 0.5%;
}

.carousel
{
	position: relative;
	height: 600px;
	width: 100%;
	background-image: url("https://redzilla7.github.io/Web-Frontend/Lab3/MainCarousel.jpeg");
	background-position: center;
}

.carousel h1
{
	position: absolute;
	transform: translate(-50%, -50%);
	color: white;
	font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.25rem;
    text-transform: uppercase;
    top: 50%;
  	left: 70%;
  	z-index: 1;
}

/*.carousel img
{
	height: 500px;
	width: 100%;
}*/

a:link 
{
  color: #FFF; 
  text-decoration: none;
}

a:visited 
{
  color: #FFF;
  text-decoration: none;
}

a:hover 
{
  color: #FFF;
  text-decoration: underline;
}

.logo img
{
	height: 100%;
	width: 100%;
}

.advantages
{
	display: flex;
	margin: 2.5%;
}

.advantages .items 
{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 2.5%;
}

.advantages .items .item
{
	display: flex;
	flex-direction: row;
  	align-items: center;
  	width: 100%;
	margin-right: 3.5%;
}

.advantages .items .item .item-img
{
	margin-right: 5%;
}

.advantages .items .item .name
{
	display: inline-block;
	font-weight: 600;
    line-height: 1.625rem;
    text-transform: uppercase;
}

.advantages .items .item .desc
{
	display: inline-block;
	line-height: 1.625rem;
}

@media (max-width: 480px) /* телефоны */
{
  .logo img
  {
  	height: 30px;
  	width: 50px;
  }
  .info div 
  {
  	font-size: 0.25rem;
    margin: 0 2px;
  }
  .menu div 
  {
    font-size: 0.25rem;
  }
  .carousel h1 
  {
    font-size: 0.5rem;
    line-height: 0.625rem;
  }
  .advantages .items
  {
  	display: flex;
  	justify-content: space-between;
  }
  .advantages .items .item 
  {
    width: 100%;
    padding: 0 1.5%;
  }
  .advantages .items .item .item-img img
  {
    height: 30px;
    width: 25px;
  }
  .advantages .items .item .name
  {
    font-size: 0.25rem;
    line-height: 0.25rem;
  }
  .advantages .items .item .desc
  {
    font-size: 0.25rem;
    line-height: 0.25rem;
  }
}

@media (min-width: 481px) and (max-width: 720px) /* планшеты */
{
  .info div
  {
  	font-size: 0.375rem;
    margin: 0 2px;
  }
  .menu div
  {
    font-size: 0.375rem;
  }
  .carousel h1 
  {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
  .advantages .items
  {
  	display: flex;
  	justify-content: space-between;
  }
  .advantages .items .item .item-img img
  {
    height: 50px;
    width: 40px;
  }
  .advantages .items .item .name
  {
    font-size: 0.4375rem;
    line-height: 0.5rem;
  }
  .advantages .items .item .desc
  {
    font-size: 0.4375rem;
    line-height: 0.5rem;
  }
}

@media (min-width: 721px) and (max-width: 1200px) /* планшеты */
{
  .menu
  {
  	padding: 1.5%;
  }
  .info div
  {
  	font-size: 0.625rem;
    margin: 0 2px;
  }
  .menu div
  {
    font-size: 0.625rem;
  }
  .carousel h1 
  {
    font-size: 1rem;
    line-height: 1.125rem;
  }
  .advantages .items .item .item-img img
  {
    height: 70px;
    width: 60px;
  }
  .advantages .items .item .name
  {
    font-size: 0.75rem;
    line-height: 0.75rem;
  }
  .advantages .items .item .desc
  {
    font-size: 0.625rem;
    line-height: 0.625rem;
  }
}