table 
{
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  max-width: 100%;
}

thead
{
  display: contents;
  background-color: #B31145;
}

tbody, tr
{
  display: contents;
}

th, td 
{
  text-align: center;
  border: 1px solid #000;
  padding: 10px;
}

tbody tr:nth-child(even) td 
{
    background-color: darkorange;
}

tbody tr:nth-child(odd) td
{
  background-color: darkgrey;
}